@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(187, 187, 255);
    margin-top: 20px;
}
main{
    width: 90vw;
    background-color: rgb(122, 122, 192);
    margin: auto;
}
h1{
    width: 90vw;
    background-color:rgb(1, 1, 64);
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
table{
    margin: auto;
    padding: 10px;
}

td{
    background-color: rgb(1, 1, 64);
    border: 2px solid rgb(151, 151, 151);
    width: 140px;
    text-align: center;
    padding: 15px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.3em; 
}