@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(187, 187, 255);
    margin-top: 20px;
}
main{
    width: 90vw;
    background-color: rgb(122, 122, 192);
    margin: auto;
}
h1{
    width: 90vw;
    background-color:rgb(1, 1, 64);
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

nav{
    margin-top: 20px;
}

div{
    display: inline-block;
    text-align: center;
    padding: 6px;
    margin: 10px;
}

div#pref, #intro{
    width: 100px;
    background-color:rgb(1, 1, 64);
    display: inline-block;
}


div.cap1{
    width: 30px;
    background-color:rgb(1, 1, 64);
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.3em; 
}