@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: rgb(224, 224, 245);
    --cor1: rgb(187, 187, 225);
    --cor2: rgb(92, 92, 141);
    --cor3: rgb(16, 16, 74);
    --cor4: rgb(1, 1, 64);
}
body{
    background-color: var(--cor0);
    width: 100vw;
    margin-top: 40px;
    margin-bottom: 40px;
}
main{
    width: 100vw;
    margin: auto;
    background-color: var(--cor1);
}
h1{
    background-color: var(--cor3);
    color: white;
    padding: 20px;
    text-align: center;
    text-shadow: 3px 4px 4px greenyellow;
}
article{
    padding: 20px;
}
p{
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 0.8em;
    padding: 0px 10px;
}
footer{
    padding: 20px;
    text-align: right;
}

footer p{
    text-align: right;
}
div{
    padding: 10px 0px 10px 20px;
    font-weight: bold;
    background-image: linear-gradient(to right, var(--cor3), var(--cor1), var(--cor3));
    text-align: center;
}
a{
    color: var(--cor1);
    text-decoration: none;
    padding: 5px;
    background-color: var(--cor3);
    text-align: center;
}
a:hover{
    background-color: var(--cor4);
    color: white;
}

